[general]
;Your Telegram Bot Token
bot_token =  
;Your PodHome API Token
podhome_api_token =  
;Your LN Adress to create invoices for donation
lightning_address = nodesignal@getalby.com 
;Alby Wallet Api Token to check if invoices are setteld
alby_wallet_api_token =  
;Logging and storage of sqlite db
temp_dir = /home/nodesignal/Dokumente/podcasting_tools/LOG_PY

[database]
;Possible databases: postgresql, sqlite
db_mode = sqlite

[postgresql]
host = localhost
port = 5432
database = postgres
user = postgres
password = password

[sqlite]
db_path = podcast.db