[monitoring]
alby_wallet_api_url = https://api.getalby.com/balance
;Alby Wallet Api Token to check the balance of the wallet. Need to adjust!
alby_wallet_api_token =  
check_interval = 30
debug_mode = False

[paths]
;Your local directory for the logs and other meta data. Need to adjust!
temp_dir = /Users/.../podcasting_tools/boosting_monitor/LOG

[api]
;Your PodHome API Key, you find it under your Show -> Settings -> Integration settings -> API Key
podhome_api_key = 
;Get_episodes endpoint of the PodHome API 
podhome_get_episode_url = https://serve.podhome.fm/api/episodes?status=1
podhome_post_episode_url = https://serve.podhome.fm/api/schedule_episode

[telegram_notification]
enabled = True
;Your Telegram Bot API Key, you'll get if from the BotFather
bot_token = 
;Group-ID (starts with -100 for supergroups) to push a message with the changed release date, bot needs to be added to the group
chat_id = -100...
;If you use topics in your Group, you can specify the target topic
topic_id = 
;Minimal donation to activate the notification
notification_threshold = 210

[telegram_bot_backend]
enabled = True
telegram_bot_update_donations_url = http://localhost:8000/update-donations
telegram_bot_sync_episodes_url = http://localhost:8000/sync-episodes
telegram_bot_get_next_episode_url = http://localhost:8000/episodes/next
telegram_bot_webhook_token = 

[calculation]
;Your personal donation target in SATS to release the episode on the earliest date, needs to match the goal
final_goal = 15120
;21 Satoshis = 1 minute reduction
satoshis_per_minute = 21
; Max 12 hours reduction, difference between Saturday 00:00 and Friday 12:00
max_reduction_hours = 12
;Enter the earliest accepted release date, in case of Nodesignal its Friday 12:00 HH:MM UTC+2
earliest_time = 10
;Enter your default release date, in case of Nodesignal its Saturday 00:00 HH:MM UTC+2 
start_time = 22